@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.cart-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  max-width: 70%;
  margin: 0 auto;
}

.cart-1 .card1 {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}

.cart-1 .card1 .card-img {
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  height: 40%;
  transition: all 0.3s ease;
}

.cart-1 .card1 .card-img:hover {
  transform: scale(1.1);
}

.cart-1 .card1:nth-child(1) .card-img {
  background-image: url("./1679457956_3-11.jpg");
}
.cart-1 .card1:nth-child(2) .card-img {
  background-image: url("./8543a170303a1b940d064e2b2e901c78.jpg");
}
.cart-1 .card1:nth-child(3) .card-img {
  background-image: url("./9445d1af87e839228b5fcf3066bc5d7d.jpg");
}
.cart-1 .card1 .card-img .car {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
}

.cart-1 .card1 .icart-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60%;
  padding: 15px;
}

.cart-1 .card1 .icart-1 p {
  font-size: 12px;
}

.cart-1 .card1 .icart-1 h3,
.cart-1 .card1 .icart-1 p:nth-child(2) {
  margin: 10px 0;
}

.cart-1 .card1 .icart-1 .footer {
  display: flex;
  justify-content: space-between;
}